ul{margin-top: 15px}
pre{background-color: rgb(235, 232, 232); margin-top: 15px;margin-bottom: 15px}
img{margin-top: 15px;margin-bottom: 15px}

.footnote{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;

}

.soft{

background-color: #fcf9f9;
padding: 10px;

}
.git{background-color:#333333;color:#00ff00; margin-top: 15px;margin-bottom: 15px}
